.tc-v2-region-hero-2 {
	.section-seen{
        &-title{
            .builder-v2-widget{
                font-size: 40px;
                line-height: 50px;
                letter-spacing: 0.3px;
                font-weight: bold;
            }
        }
        &-grid{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: -5em;
                width: 100%;
                height: 1px;
                background-color: #E8E7F0;
            }
            &-item{
                padding: 0 2.5em;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
                .item-logo{
                    max-width: 12.5em;
                    height: 3.25em;
                    margin-bottom: 1.47em;
                    .builder-v2-widget{
                        position: relative;
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .custom-top{
                        top: 0.4em;
                    }
                }
                .item-text{
                    .builder-v2-widget{
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.346154px;
                        color: #404852;
                    }
                }
                .item-name{
                    .builder-v2-widget:first-child{
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 0.3px;
                        font-weight: 500;
                        color: #273240;
                    }
                    .builder-v2-widget:last-child{
                        font-size: 12px;
                        line-height: 12px;
                        letter-spacing: 0.5px;
                        color: #2C3A4B;
                        opacity: .5;
                    }
                }
            }
        }
    }
}