.tc-v2-region-pageFourteen-1{
    margin: 0;
    position: relative;
    overflow: hidden;
    background: #EBEBEB;
    p{
        margin: 0;
    }
    img{
        width: 100%;
    }
    .section-logo{
        .builder-v2-widget{
            width: 9.625em;
        }
    }

    .section-grid{
        margin-top: 5em;
        display: flex;

        .left{
            .sub{
                .builder-v2-widget{
                    font-size: 3.5em;
                    letter-spacing: 2px;
                    color: #1E717C;
                }
            }
            .title{
                margin-top: 2.5em;
                max-width: 39.6875em;
                .builder-v2-widget{
                    font-size: 4em;
                    font-weight: 700;
                    color: #0E3C42;
                }
            }

            .description{
                margin-top: 2em;
                max-width: 23em;
                .builder-v2-widget{
                    font-size: 1em;
                    letter-spacing: .3px;
                    color: #607376;
                    line-height: 1.7em;
                }
            }
            .button{
                margin-top: 3em;
                .builder-v2-widget{
                    button{
                        font-size: 1em;
                        font-weight: 600;
                        color: #FFFFFF;
                        letter-spacing: .5px;
                        padding: 1.3125em 4.9375em;
                        border: none;
                        background-color: #1E717C;
                        cursor: pointer;
                    }
                }
            }
        }

        .right{
            .builder-v2-widget{
                max-width: 38.5em;
            }
        }
    }
}

@media (max-width: 576px){

    .tc-v2-region-pageFourteen-1{
        .section-logo{
            width: calc(100% + 11%);
            margin-left: -5.5%;
            padding-bottom: 1.25em;
            border-bottom: 1px solid #D5D5D5;
            .builder-v2-widget{
                width: 9.625em;
                margin: 0 auto;
            }
        }
    
        .section-grid{
            margin-top: 2.5em;
            flex-direction: column;
            .left{
                .sub{
                    .builder-v2-widget{
                        font-size: 2.5em;
                        letter-spacing: 2px;
                        color: #1E717C;
                    }
                }
                .title{
                    margin-top: .625em;
                    .builder-v2-widget{
                        font-size: 2.5em;
                    }
                }
    
                .description{
                    margin-top: 1.25em;
                }
                .button{
                    margin-top: 1.25em;
                    .builder-v2-widget{
                        button{
                            width: 100%;
                        }
                    }
                }
            }
    
            .right{
                margin-top: 2.5em;
            }
        }
    }

}