.tc-v2-region-pageTwelve-1{
    position: relative;
    background: linear-gradient(0deg, #F9FAFD 11.32%, #FFFFFF 88.91%);
    overflow: hidden;
    p{
        margin: 0;
    }
    img{
        width: 100%;
    }

    .section-logo{
        width: 9.625em;
    }

    .background{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 0 10em;
        .icon-absolute{
            position: absolute;
            right: -2em;
            top: -3em;
            .builder-v2-widget{
                width: 9.75em;
            }
        }
    }
    .section-hastag{
        padding: .75em 1.5em;
        background: rgba(252, 109, 110, 0.08);
        border-radius: 2.5em;
        width: 24.875em;
        margin: 6em auto 0;
        .builder-v2-widget{
            text-align: center;
            color: #FC6D6E;
            font-size: 1em;
            font-weight: 500;
            letter-spacing: .02em;
        }
    }

    .section-title{
        margin-top: 2em;
        .builder-v2-widget{
            font-weight: 600;
            text-align: center;
            color: #0F1724;
            font-size: 2.815em;
            p{
                span{
                    color: #5243AA;
                    position: relative;
                    .builder-v2-widget-absolute{
                        position: absolute;
                        left: -.8em;
                        top: -.4em;
                        width: calc(100% + .9em);
                    }
                }
            }
        }
    }
    
    .section-description{
        width: 36.5em;
        margin: 1.5em auto 0;
        .builder-v2-widget{
            font-size: 1em;
            text-align: center;
            color: #757D95;
        }
    }

    .section-image{
        position: relative;
        margin-top: 5.75em;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: #F5F6F8;
            top: -1.25em;
            left: 1.25em;
        }
        .absolute{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            .builder-v2-widget{
                width: 6.0625em;
            }
            &-2{
                position: absolute;
                left: -7.7em;
                top: -9em;
                .builder-v2-widget{
                    width: 7.75em;
                } 
            }
            &-3{
                position: absolute;
                right: -3.5em;
                bottom: -5em;
                .builder-v2-widget{
                    width: 8.2em;
                } 
            }
        }
    }
}

@media (max-width: 576px){
    .tc-v2-region-pageTwelve-1{
        .section-logo{
            margin: 0 auto;
        }
    
        .background{
            padding: 0 0 0;
            .icon-absolute{
                display: none;
            }
        }
        .section-hastag{
            padding: 0;
            border-radius: 0px;
            width: calc(100% + 11%);
            margin: 1.25em 0 0 -5.5%;
            .builder-v2-widget{
                text-align: center;
                color: #FC6D6E;
                font-size: 1em;
                font-weight: 500;
                letter-spacing: .02em;
                padding: 1em 1.25em;
            }
        }
    
        .section-title{
            margin-top: 2.5em;
            .builder-v2-widget{
                text-align: left;
                font-size: 2.5em;
                p{
                    span{
                        .builder-v2-widget-absolute{
                            display: none;
                        }
                    }
                }
            }
        }
        
        .section-description{
            width: 100%;
            margin: 1.25em auto 0;
            .builder-v2-widget{
                letter-spacing: .3px;
                text-align: left;
            }
        }
    
        .section-image{
            position: relative;
            margin-top: 2.55em;
            z-index: 1;
            &::before{
                display: none;
            }
            .absolute{
                .builder-v2-widget{
                    width: 1.5625em;
                }
                &-2{
                    display: none;
                }
                &-3{
                    display: none;
                }
            }
        }
    }
}