.tc-v2-region-Thirteen-3{
    position: relative;
    padding: 5em;
    overflow: hidden;
    p{
        margin: 0;
    }
    img{
        width: 100%;
    }
    .background{
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        .asset-absolute{
            position: absolute;
            top: -3em;
            left: -10em;
            .builder-v2-widget{
                width: 24.6875em;
            }
        }
    }

    .section-grid{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .left{
            .builder-v2-widget{
                max-width: 35.25em;
            }
        }

        .right{
            max-width: 31.25em;
            .title{
                .builder-v2-widget{
                    font-size: 3.8125em;
                    color: #1D5564;
                    letter-spacing: -2px;
                }
            }

            .description{
                margin-top: 1em;
                max-width: 26.5em;
                .builder-v2-widget{
                    font-size: 1em;
                    line-height: 1.5em;
                    color: #1D5564;
                    opacity: .7;
                }
            }
        }
    }
}

@media (max-width: 576px){

    .tc-v2-region-Thirteen-3{
        padding: 0;
        .background{
            .asset-absolute{
                display: none;
            }
        }
    
        .section-grid{
            flex-direction: column-reverse;
            .left{
                margin-top: 2.5em;
                .builder-v2-widget{
                    max-width: 38.875em;
                    img{
                        width: calc(100% + 1em);
                        position: relative;
                        left: -1.1em;
                    }
                }
            }
    
            .right{
                max-width: 26.25em;
                .title{
                    .builder-v2-widget{
                        font-size: 2.8125em;
                        text-align: center;
                        letter-spacing: unset;
                    }
                }
    
                .description{
                    margin-top: 1.25em;
                    .builder-v2-widget{
                        font-size: 1em;
                        text-align: center;
                    }
                }
            }
        }
    }

}