.tc-v2-region-pageEleven-3{
    overflow: hidden;
    position: relative;
    padding: 5em 0;
    .background{
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
    }
    p{
        margin: 0;
    }
    img{
        width: 100%;
    }

    .section-logo{
        .builder-v2-widget{
            width: 7.875em;
        }
    }
    .section-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            .title{
                width: 30em;
                .builder-v2-widget{
                    font-size: 3.125em;
                    font-weight: 700;
                    line-height: 1.2em;
                }
            }
            .description{
                width: 24.625em;
                margin-top: 2.5em;
                .builder-v2-widget{
                    font-size: .875em;
                    letter-spacing: .3px;
                    opacity: .7;
                }
            }
            .button{
                margin-top: 2.5em;
                position: relative;
                .builder-v2-widget{
                    button{
                        padding: 1.25em 4.375em;
                        background: #FFFFFF;
                        font-weight: 600;
                        border-radius: 50em;
                        border: none;
                        font-size: 1em;
                        letter-spacing: .5px;
                        color: #0F4147;
                        border: 2.5px solid #0F4147;
                        cursor: pointer;
                    }
                }
            }
        }
        .right{
            max-width: 31em;
            .builder-v2-widget{
                position: relative;
                width: 100%;
                right: 0;
            }
        }
    }
}

@media (max-width:576px){

    .tc-v2-region-pageNine-1{
        .background{
            &::before{
                left: 0;
                bottom: 0;
                height: 8.125em;
                width: 100%;
            }
        }
        .section-logo{
            width: calc(100% + 11%);
            margin-left: -5.5%;
            border-bottom: 1px solid rgba(222, 222, 222, 0.3);
            padding-bottom: 2em;
            .builder-v2-widget{
                width: 11.8125em;
                margin: 0 auto;
            }
        }
        .section-grid{
            margin-top: 2.5em;
            flex-direction: column;
            .left{
                .title{
                    width: 100%;
                    max-width: 16em;
                    .builder-v2-widget{
                        font-size: 2.1875em;
                        line-height: 1.3em;
                        letter-spacing: unset;
                    }
                }
                .description{
                    width: 100%;
                    margin-top: 2em;
                    .builder-v2-widget{
                        font-size: 1em;
                    }
                }
                .button{
                    margin-top: 2em;
                    position: relative;
                    .builder-v2-widget{
                        button{
                            padding: .8125em 0;
                            font-size: 1em;
                            letter-spacing: 1.14px;
                            width: 100%;
                        }
                    }
                }
            }
            .right{
                width: 100%;
                margin-top: 2.5em;
                .builder-v2-widget{
                    position: relative;
                    width: 100%;
                    right: 0;
                }
            }
        }
    }

}