.tc-v2-region-pageTwo-4{
    p{
        margin: 0;
    }
    .section-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 4em;
        .section-left{
            &-title{
                width: 31.25em;
                .builder-v2-widget{
                    font-size: 2.1875em;
                    line-height: 1.2em;
                    font-weight: 600;
                    letter-spacing: .3px;
                    color: #121212;
                    p{
                        span{
                            color: #27A0E4;
                        }
                    }
                }
            }
            &-description{
                width: 26.25em;
                margin-top: 1.25em;
                .builder-v2-widget{
                    font-size: 1em;
                    letter-spacing: .3px;
                    color: #121212;
                    opacity: .7;
                }
            }
        }

        .section-right{
            .builder-v2-widget{
                width: 35.06em;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 576px){

    .tc-v2-region-pageTwo-4{
        .section-grid{
            flex-direction: column;
            padding-top: 0;
            .section-left{
                &-title{
                    width: 100%;
                    .builder-v2-widget{
                        line-height: 1.3em;
                        font-size: 1.875em;
                    }
                }
                &-description{
                    width: 100%;
                    .builder-v2-widget{
                        font-size: .875em;
                    }
                }
            }
    
            .section-right{
                margin-top: 2.5em;
                .builder-v2-widget{
                    width: 100%;
                }
            }
        }
    }

}