html {
    height: 100%;
    ::-webkit-scrollbar{
      display: none
    }
  }
  body {
    height: 100%;
    font-size: 16px;
    margin: 0;
    -moz-osx-font-smoothings: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  .region-wrap {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 75em;
}

//Checkbox
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  cursor: pointer;

  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #C2C8E1;
  background: #fff;
  border-radius: 0.25em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #2AA5EB;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


//Radio
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  cursor: pointer;

  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #08A0F7;
  background: rgba(8, 160, 247, 0.06);
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #fff;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
input[type="radio"]:checked {
  background-color: #08A0F7;
}