.tc-v2-region-pageSix-1{
    position: relative;
    background-color: #2813A4;
    p{
        margin: 0;
    }
    .section-background{
        max-width: 1480px;
        margin: 0 auto;
        position: relative;
        .absolute{
            position: absolute;
            right: 0;
            top: 6em;
            width: 100%;
            .builder-v2-widget{
                width: 100%;
                img{
                    width: 100%;
                }
                .mobile{
                    display: none;
                }
            }
        }
    }

    .section-logo{
        .builder-v2-widget{
            width: 9.625em;
            img{
                width: 100%;
            }
        }
    }

    .section-grid{
        margin-top: 6.25em;
        display: flex;
        justify-content: space-between;
        .left{
            .title{
                width: 35.6875em;
                .builder-v2-widget{
                    font-size: 4.375em;
                    letter-spacing: -2px;
                    font-weight: 600;
                    color: #ffffff;
                    line-height: 1.2em;
                    p{
                        span{
                            position: relative;
                            color: #FFCD00;
                            .builder-v2-widget-absolute{
                                position: absolute;
                                left: 0;
                                bottom: -.25em;
                                width: calc(100% + .8em);
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .description{
                margin-top: 1.25em;
                width: 23em;
                .builder-v2-widget{
                    font-size: .875em;
                    letter-spacing: .3px;
                    color: #FFFFFF;
                    opacity: .7;
                }
            }
            .button{
                margin-top: 2em;
                .builder-v2-widget{
                    button{
                        padding: 1.24em 1.24em;
                        width: 17.625em;
                        background: #FFCD00;
                        font-size: 1em;
                        font-weight: 600;
                        color: #2813A4;
                        letter-spacing: 1.4px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
        .right{
            margin-top: 3em;
            top: 5em;
            position: relative;
            .builder-v2-widget{
                width: 34.0625em;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 576px){

    .tc-v2-region-pageSix-1{
        .section-background{
            .absolute{
                position: absolute;
                top: 18em;
                width: 14.8125em;
                overflow: hidden;
                .builder-v2-widget{
                    width: 100%;
                    img{
                        display: none;
                    }
                    .mobile{
                        display: block;
                    }
                }
            }
        }
    
        .region-wrap{
            padding-bottom: 0;
            position: relative;
            z-index: 1;
        }

        .section-logo{
            padding-bottom: 1.25em;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            width: calc(100% + 11%);
            margin-left: -5.5%;
            .builder-v2-widget{
                width: 9.625em;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
        }
    
        .section-grid{
            margin-top: 1.25em;
            flex-direction: column;
            .left{
                .title{
                    width: 100%;
                    .builder-v2-widget{
                        font-size: 1.875em;
                        letter-spacing: 1px;
                        p{
                            span{
                                .builder-v2-widget-absolute{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .description{
                    width: 100%;
                    .builder-v2-widget{
                        font-size: 1.125em;
                    }
                }
                .button{
                    margin-top: 2.5em;
                    .builder-v2-widget{
                        button{
                            width: 100%;
                        }
                    }
                }
            }
            .right{
                margin-top: 0;
                top: 2.5em;
                position: relative;
                .builder-v2-widget{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

}