.tc-v2-region-pageEight-2{
    padding: 5em;
    background-color: #F8F9F9;
    overflow: hidden;
    p{
        margin: 0;
    }
    img{
        width: 100%;
    }

    .region-wrap{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -18em;
            left: 20em;
            width: 351px;
            height: 351px;
            border-radius: 50%;
            background: #E3E3E2;
            opacity: .5;
        }
    }
    .section-grid{
        display: flex;
        justify-content: space-between;
        .left{
            max-width: 47em;
            .title{
                .builder-v2-widget{
                    font-size: 3.125em;
                    font-weight: 600;
                    letter-spacing: -2px;
                    color: #261E12;
                }
            }
            .description{
                margin-top: 2.5em;
                max-width: 27.1875em;
                .builder-v2-widget{
                    font-size: 1em;
                    letter-spacing: .3px;
                    color: #261E12;
                    opacity: .7;
                }
            }
            .grid{
                margin-top: 3.75em;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 3.75em;
                .icon{
                    .builder-v2-widget{
                        width: 3.75em;
                    }
                }
                .item-title{
                    margin-top: 1.875em;
                    .builder-v2-widget{
                        font-size: 1.5em;
                        color: #261E12;
                        font-weight: 600;
                    }
                }
                .item-description{
                    margin-top: 1.25em;
                    .builder-v2-widget{
                        font-size: .875em;
                        color: #261E12;
                        opacity: .7;
                        letter-spacing: .3px;
                    }
                }
            }
        }

        .right{
            max-width: 23em;
            .builder-v2-widget{
                position: relative;
                width: calc(100% + 18em);
                right: 8em;
                top: 1em;
            }
        }
    }

}

@media (max-width: 576px){

    .tc-v2-region-pageEight-2{
        padding: 5em;
        background-color: #F8F9F9;
        overflow: hidden;
        p{
            margin: 0;
        }
        img{
            width: 100%;
        }
    
        .region-wrap{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: -18em;
                left: 20em;
                width: 351px;
                height: 351px;
                border-radius: 50%;
                background: #E3E3E2;
                opacity: .5;
            }
        }
        .section-grid{
            display: flex;
            justify-content: space-between;
            .left{
                max-width: 47em;
                .title{
                    .builder-v2-widget{
                        font-size: 3.125em;
                        font-weight: 600;
                        letter-spacing: -2px;
                        color: #261E12;
                    }
                }
                .description{
                    margin-top: 2.5em;
                    max-width: 27.1875em;
                    .builder-v2-widget{
                        font-size: 1em;
                        letter-spacing: .3px;
                        color: #261E12;
                        opacity: .7;
                    }
                }
                .grid{
                    margin-top: 3.75em;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 3.75em;
                    .icon{
                        .builder-v2-widget{
                            width: 3.75em;
                        }
                    }
                    .item-title{
                        margin-top: 1.875em;
                        .builder-v2-widget{
                            font-size: 1.5em;
                            color: #261E12;
                            font-weight: 600;
                        }
                    }
                    .item-description{
                        margin-top: 1.25em;
                        .builder-v2-widget{
                            font-size: .875em;
                            color: #261E12;
                            opacity: .7;
                            letter-spacing: .3px;
                        }
                    }
                }
            }
    
            .right{
                max-width: 23em;
                .builder-v2-widget{
                    position: relative;
                    width: calc(100% + 18em);
                    right: 8em;
                    top: 1em;
                }
            }
        }
    
    }

}