.tc-v2-region-pageEleven-4{
    background: #EEECE7;
    .background{
        padding: 5em 0;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }
    .absolute{
        position: absolute;
        left: 0;
        bottom: 0;
        .builder-v2-widget{
            width: 7.8215em;
            img{
                width: 100%;
            }
        }
    }
    p{
        margin: 0;
    }

    .section-grid{
        display: flex;
        justify-content: space-between;
        .left{
            width: 24.875em;
            .section-sub{
                .builder-v2-widget{
                    color: #121212;
                    letter-spacing: .3px;
                    font-size: 1.75em;
                }
            }

            .section-title{
                margin-top: 2.0625em;
                .builder-v2-widget{
                    font-size: 3.125em;
                    font-weight: 700;
                    letter-spacing: -1px;
                    color: #121212;
                }
            }
        }
        .right{
            display: flex;
            width: 45em;
            grid-gap: 2.5em;
            position: relative;
            .titik{
                position: absolute;
                z-index: -1;
                bottom: -2em;
                left: -2em;
                .builder-v2-widget{
                    width: 5em;
                    img{
                        width: 100%;
                    }
                }
            }
            .box{
                background: #FFFFFF;
                padding: 2.5em 2em;
                .profile{
                    .image{
                        .builder-v2-widget{
                            width: 5em;
                            margin: 0 auto;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }

                .description{
                    margin: 1.75em 0 1.25em;
                    .builder-v2-widget{
                        font-size: 1em;
                        letter-spacing: .35px;
                        color: #121212;
                        text-align: center;
                    }
                }

                .star{
                    text-align: center;
                    .builder-v2-widget{
                        height: 1.25em;
                        img{
                            height: 100%;
                        }
                    }
                }

                .text{
                    margin-top: 3.125em;
                    .line{
                        position: relative;
                        width: 2.5em;
                        height: 2px;
                        background-color: #302863;
                        margin: 0 auto 1.25em;
                    }
                    .name{
                        .builder-v2-widget{
                            text-align: center;
                            font-size: .8125em;
                            font-weight: 500;
                            letter-spacing: .3px;
                            color: #121212;
                        }
                    }
                    .title{
                        margin-top: .5em;
                        .builder-v2-widget{
                            text-align: center;
                            font-size: .75em;
                            color: #121212;
                            opacity: .5;
                        }
                    }
                }
                .mobile{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px){

    .tc-v2-region-pageEleven-4{
        .background{
            width: 100%;
            padding: 0;
        }
        .absolute{
            display: none;
        }
        .section-grid{
            flex-direction: column;
            .left{
                width: 100%;
                .section-icon{
                    .builder-v2-widget{
                        width: 3em;
                    }
                }
    
                .section-sub{
                    .builder-v2-widget{
                        font-size: 1.25em;
                    }
                }
    
                .section-title{
                    margin-top: 1.25em;
                    .builder-v2-widget{
                        font-size: 2.5em;
                        line-height: 1.3em;
                        font-weight: 700;
                        letter-spacing: .3px;
                    }
                }
            }
            .right{
                flex-direction: column;
                width: 100%;
                grid-gap: 1.25em;
                margin-top: 2.5em;
                .box{
                    background: #FFFFFF;
                    padding: 1.25em;
                    .profile{
                        display: flex;
                        align-items: center;
                        .image{
                            .builder-v2-widget{
                                width: 3em;
                                margin: 0;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
    
                    .description{
                        margin: 1.25em 0;
                        .builder-v2-widget{
                            font-size: 1em;
                            letter-spacing: .35px;
                            text-align: left;
                        }
                    }
    
                    .star{
                        text-align: left;
                        .builder-v2-widget{
                            height: 1em;
                            img{
                                height: 100%;
                            }
                        }
                    }
    
                    .text{
                        margin-top: 0;
                        margin-left: 1.25em;
                        .line{
                            display: none;
                        }
                        .name{
                            .builder-v2-widget{
                                text-align: left;
                                font-size: .8125em;
                                font-weight: 500;
                                letter-spacing: .3px;
                                color: #121212;
                            }
                        }
                        .title{
                            margin-top: .2em;
                            .builder-v2-widget{
                                text-align: left;
                                font-size: .75em;
                                color: #121212;
                                opacity: .5;
                            }
                        }
                    }
                    .desktop{
                        display: none;
                    }
                    .mobile{
                        display: block;
                    }
                }
            }
        }
    }

}