// Include the base styles which cannot be modified
@import 'base/global';

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Define font families as classes
.tc-font-libre_baskerville {
	font-family: 'Libre Baskerville', serif;
}

.tc-font-poppins {
	font-family: 'Poppins', sans-serif;
}

// Shared mixins etc
//
.tc-v2-region-hero-1 {
	background: var(--background_color, #000000);

	.region-wrap-content {
		min-height: 42em;
		position: relative;
	}

	.section-logo {
		padding: 1.5em 0 3.5em;

		img {
			display: block;
			width: 100%;
			max-width: 9em;
		}
	}

	.section-speakers {
		.section-speakers-1,
		.section-speakers-2,
		.section-speakers-3,
		.section-speakers-4 {
			position: absolute;

			.builder-v2-widget {
				position: relative;
				font-size: 14px;
				width: 100%;
				box-sizing: border-box;
				img {
					display: block;
					width: 100%;
				}
			}
		}

		.section-speakers-1 {
			max-width: 21.5em;
			top: -1em;
			left: 0;
		}

		.section-speakers-2 {
			max-width: 11em;
			right: 0;
			top: 7.5em;
		}

		.section-speakers-3 {
			max-width: 14em;
			left: 7.5em;
			bottom: 12em;
		}

		.section-speakers-4 {
			max-width: 17em;
			right: 0;
			bottom: 6em;
		}

		img.bgdetail {
			position: absolute;
			left: -2em;
			bottom: -2em;
			width: 4.5em;
		}
	}

	.section-content {
		max-width: 43em;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.content-title {
		margin-bottom: 2em;

		.builder-v2-widget {
			font-size: 70px;
			color: #FFF;
			font-weight: 700;
			line-height: 1.1em;
			letter-spacing: -0.0125em;
			span{
				color: #43AA66;
			}
		}
	}

	.content-text {
		margin-bottom: 2em;
		padding: 0 8em;

		.builder-v2-widget {
			font-size: 18px;
			color: #D4D4D4;
			line-height: 1.5em;
		}
	}

	.content-button {
		text-align: center;

		.builder-v2-widget > button {
			display: inline-block;
			padding: 0.75em 4.5em;
			border: none;
			background: #5243AA;
			border-radius: 2em;
			color: #fff;
			text-align: center;
			font-size: 18px;
			cursor: pointer;
		}
	}
}
.tc-v2-region-hero-2 {
	.section-seen{
        &-title{
            .builder-v2-widget{
                font-size: 40px;
                line-height: 50px;
                letter-spacing: 0.3px;
                font-weight: bold;
            }
        }
        &-grid{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: -5em;
                width: 100%;
                height: 1px;
                background-color: #E8E7F0;
            }
            &-item{
                padding: 0 2.5em;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
                .item-logo{
                    max-width: 12.5em;
                    height: 3.25em;
                    margin-bottom: 1.47em;
                    .builder-v2-widget{
                        position: relative;
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .custom-top{
                        top: 0.4em;
                    }
                }
                .item-text{
                    .builder-v2-widget{
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.346154px;
                        color: #404852;
                    }
                }
                .item-name{
                    .builder-v2-widget:first-child{
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 0.3px;
                        font-weight: 500;
                        color: #273240;
                    }
                    .builder-v2-widget:last-child{
                        font-size: 12px;
                        line-height: 12px;
                        letter-spacing: 0.5px;
                        color: #2C3A4B;
                        opacity: .5;
                    }
                }
            }
        }
    }
}
.tc-v2-region-hero-3{
    .section-we{
        &-grid{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        &-left{
            width: 31.25em;
            &-title{
                .builder-v2-widget{
                    font-size: 3.125em;
                    line-height: 1.3em;
                    margin-bottom: 0.4em;
                    p{
                        font-weight: bold;
                        margin: 0;
                        span{
                            color: #3DA0E8;
                            position: relative;
                            .builder-v2-widget-absolute{
                                line-height: 0em;
                                position: absolute;
                                bottom: -0.04em;
                                left: 0;
                                width: 100%;
                                margin: 0;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &-description{
                .builder-v2-widget{
                    font-size: 0.875em;
                    line-height: 1.5em;
                    margin-bottom: 3em;
                    p{
                        color: #121212;
                        opacity: .7;
                        margin: 0;
                    }
                }
            }
            &-button{
                .builder-v2-widget > button {
                    display: inline-block;
                    padding: 0.75em 4.5em;
                    border: none;
                    background: #5243AA;
                    border-radius: 2em;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
        &-right{
            width: 40.1em;
            .builder-v2-widget{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.tc-v2-region-hero-4{
    .section-direct{
        &-grid{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        &-right{
            width: 31.25em;
            &-title{
                .builder-v2-widget{
                    font-size: 3.125em;
                    line-height: 1.3em;
                    margin-bottom: 0.4em;
                    p{
                        font-weight: bold;
                        margin: 0;
                        span{
                            color: #43AA66;
                            position: relative;
                            .builder-v2-widget-absolute{
                                line-height: 0em;
                                position: absolute;
                                bottom: -0.04em;
                                left: 0;
                                width: 100%;
                                margin: 0;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &-description{
                .builder-v2-widget{
                    font-size: 0.875em;
                    line-height: 1.5em;
                    margin-bottom: 3em;
                    p{
                        color: #121212;
                        opacity: .7;
                        margin: 0;
                    }
                }
            }
            &-button{
                .builder-v2-widget > button {
                    display: inline-block;
                    padding: 0.75em 4.5em;
                    border: none;
                    background: #5243AA;
                    border-radius: 2em;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
        &-left{
            width: 40.1em;
            .builder-v2-widget{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.tc-v2-region-hero-5{
    .section-learn{
        &-title{
            width: 50em;
            margin: 0 auto 8.375em;
            .builder-v2-widget{
                font-size: 3.125em;
                line-height: 1.3em;
                text-align: center;
                font-weight: 700;
                p{
                    margin: 0;
                    span{
                        color: #DF3B45;
                        position: relative;
                        .builder-v2-widget-absolute{
                            position: absolute;
                            width: 100%;
                            left: 0;
                            bottom: -1em;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &-grid{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .grid-left{
                max-width: 18.75em;
                margin: 0;
                &-item{
                    margin-bottom: 5em;
                    .grid-item-image{
                        width: 3.75em;
                        .builder-v2-widget{
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .grid-item-title{
                        margin: 1.25em 0 .875em;
                        .builder-v2-widget{
                            font-size: 1.375em;
                            line-height: 2em;
                            font-weight: 600;
                            letter-spacing: .3px;
                            color: #121212;
                            p{
                                margin: 0;
                            }
                        }
                    }
                    .grid-item-description{
                        margin: 0;
                        .builder-v2-widget{
                            font-size: 1em;
                            line-height: 1.625em;
                            letter-spacing: .3px;
                            color: #121212;
                            opacity: .7;
                            p{
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .grid-middle{
                &-image{
                    width: 29.125em;
                    .builder-v2-widget{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.tc-v2-region-hero-6{
    .section-about{
        &-title{
            width: 44em;
            margin: 0 0 3.75em;
            .builder-v2-widget{
                font-size: 3.125em;
                line-height: 1.3em;
                font-weight: 700;
                color: #191919;
                p{
                    margin: 0;
                    span{
                        color: #D97B1E;
                        position: relative;
                        .builder-v2-widget-absolute{
                            position: absolute;
                            left: 0;
                            bottom: -0.5em;
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &-grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.375em;
            .grid-item{
                &-background{
                    background-color: #fff;
                    box-shadow: 0px 20px 40px rgba(64, 72, 82, 0.1);
                    border-radius: 12px;
                    padding: 2em;
                }
                &-description{
                    .builder-v2-widget{
                        font-size: 1em;
                        line-height: 1.625em;
                        letter-spacing: 0.346154px;
                        color: #121212;
                        p{
                            margin: 0;
                        }
                    }
                }
                &-profile{
                    display: flex;
                    margin-top: 1.25em;
                    align-items: center;
                    .profile-image{
                        width: 3em;
                        .builder-v2-widget{
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .profile-text{
                        margin-left: 1.375em;
                        &-name{
                            .builder-v2-widget{
                                font-size: 0.812em;
                                line-height: 0.812em;
                                margin-bottom: .5em;
                                letter-spacing: .3px;
                                color: #121212;
                                font-weight: 500;
                                p{
                                    margin: 0;
                                }
                            }
                        }
                        &-title{
                            .builder-v2-widget{
                                font-size: 0.75em;
                                line-height: 0.75em;
                                color: #121212;
                                opacity: .5;
                                letter-spacing: .3px;
                                p{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}