@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  height: 100%;
}
html ::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  -moz-osx-font-smoothings: grayscale;
  -webkit-font-smoothing: antialiased;
}

.region-wrap {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
}

.tc-font-libre_baskerville {
  font-family: "Libre Baskerville", serif;
}

.tc-font-poppins {
  font-family: "Poppins", sans-serif;
}

.tc-v2-region-hero-1 {
  background: var(--background_color, #000000);
}
.tc-v2-region-hero-1 .region-wrap-content {
  min-height: 42em;
  position: relative;
}
.tc-v2-region-hero-1 .section-logo {
  padding: 1.5em 0 3.5em;
}
.tc-v2-region-hero-1 .section-logo img {
  display: block;
  width: 100%;
  max-width: 9em;
}
.tc-v2-region-hero-1 .section-speakers .section-speakers-1,
.tc-v2-region-hero-1 .section-speakers .section-speakers-2,
.tc-v2-region-hero-1 .section-speakers .section-speakers-3,
.tc-v2-region-hero-1 .section-speakers .section-speakers-4 {
  position: absolute;
}
.tc-v2-region-hero-1 .section-speakers .section-speakers-1 .builder-v2-widget,
.tc-v2-region-hero-1 .section-speakers .section-speakers-2 .builder-v2-widget,
.tc-v2-region-hero-1 .section-speakers .section-speakers-3 .builder-v2-widget,
.tc-v2-region-hero-1 .section-speakers .section-speakers-4 .builder-v2-widget {
  position: relative;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
.tc-v2-region-hero-1 .section-speakers .section-speakers-1 .builder-v2-widget img,
.tc-v2-region-hero-1 .section-speakers .section-speakers-2 .builder-v2-widget img,
.tc-v2-region-hero-1 .section-speakers .section-speakers-3 .builder-v2-widget img,
.tc-v2-region-hero-1 .section-speakers .section-speakers-4 .builder-v2-widget img {
  display: block;
  width: 100%;
}
.tc-v2-region-hero-1 .section-speakers .section-speakers-1 {
  max-width: 21.5em;
  top: -1em;
  left: 0;
}
.tc-v2-region-hero-1 .section-speakers .section-speakers-2 {
  max-width: 11em;
  right: 0;
  top: 7.5em;
}
.tc-v2-region-hero-1 .section-speakers .section-speakers-3 {
  max-width: 14em;
  left: 7.5em;
  bottom: 12em;
}
.tc-v2-region-hero-1 .section-speakers .section-speakers-4 {
  max-width: 17em;
  right: 0;
  bottom: 6em;
}
.tc-v2-region-hero-1 .section-speakers img.bgdetail {
  position: absolute;
  left: -2em;
  bottom: -2em;
  width: 4.5em;
}
.tc-v2-region-hero-1 .section-content {
  max-width: 43em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.tc-v2-region-hero-1 .content-title {
  margin-bottom: 2em;
}
.tc-v2-region-hero-1 .content-title .builder-v2-widget {
  font-size: 70px;
  color: #FFF;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: -0.0125em;
}
.tc-v2-region-hero-1 .content-title .builder-v2-widget span {
  color: #43AA66;
}
.tc-v2-region-hero-1 .content-text {
  margin-bottom: 2em;
  padding: 0 8em;
}
.tc-v2-region-hero-1 .content-text .builder-v2-widget {
  font-size: 18px;
  color: #D4D4D4;
  line-height: 1.5em;
}
.tc-v2-region-hero-1 .content-button {
  text-align: center;
}
.tc-v2-region-hero-1 .content-button .builder-v2-widget > button {
  display: inline-block;
  padding: 0.75em 4.5em;
  border: none;
  background: #5243AA;
  border-radius: 2em;
  color: #fff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.tc-v2-region-hero-2 .section-seen-title .builder-v2-widget {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.3px;
  font-weight: bold;
}
.tc-v2-region-hero-2 .section-seen-grid {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}
.tc-v2-region-hero-2 .section-seen-grid::before {
  content: "";
  position: absolute;
  bottom: -5em;
  width: 100%;
  height: 1px;
  background-color: #E8E7F0;
}
.tc-v2-region-hero-2 .section-seen-grid-item {
  padding: 0 2.5em;
}
.tc-v2-region-hero-2 .section-seen-grid-item:first-child {
  padding-left: 0;
}
.tc-v2-region-hero-2 .section-seen-grid-item:last-child {
  padding-right: 0;
}
.tc-v2-region-hero-2 .section-seen-grid-item .item-logo {
  max-width: 12.5em;
  height: 3.25em;
  margin-bottom: 1.47em;
}
.tc-v2-region-hero-2 .section-seen-grid-item .item-logo .builder-v2-widget {
  position: relative;
  width: 100%;
}
.tc-v2-region-hero-2 .section-seen-grid-item .item-logo .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-2 .section-seen-grid-item .item-logo .custom-top {
  top: 0.4em;
}
.tc-v2-region-hero-2 .section-seen-grid-item .item-text .builder-v2-widget {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.346154px;
  color: #404852;
}
.tc-v2-region-hero-2 .section-seen-grid-item .item-name .builder-v2-widget:first-child {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: #273240;
}
.tc-v2-region-hero-2 .section-seen-grid-item .item-name .builder-v2-widget:last-child {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #2C3A4B;
  opacity: 0.5;
}

@media (max-width: 576px) {
  .tc-v2-region-hero-2 .section-seen-title .builder-v2-widget {
    font-size: 30px;
    line-height: 38px;
  }
  .tc-v2-region-hero-2 .section-seen-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
  }
  .tc-v2-region-hero-2 .section-seen-grid-item {
    padding: 0;
  }
  .tc-v2-region-hero-2 .section-seen-grid-item .item-logo {
    height: auto;
    margin: 0;
  }
  .tc-v2-region-hero-2 .section-seen-grid-item .item-text {
    display: none;
  }
  .tc-v2-region-hero-2 .section-seen-grid-item .item-name {
    display: none;
  }
}
.tc-v2-region-hero-3 .section-we-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.tc-v2-region-hero-3 .section-we-left {
  width: 31.25em;
}
.tc-v2-region-hero-3 .section-we-left-title .builder-v2-widget {
  font-size: 3.125em;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
.tc-v2-region-hero-3 .section-we-left-title .builder-v2-widget p {
  font-weight: bold;
  margin: 0;
}
.tc-v2-region-hero-3 .section-we-left-title .builder-v2-widget p span {
  color: #3DA0E8;
  position: relative;
}
.tc-v2-region-hero-3 .section-we-left-title .builder-v2-widget p span .builder-v2-widget-absolute {
  line-height: 0em;
  position: absolute;
  bottom: -0.04em;
  left: 0;
  width: 100%;
  margin: 0;
}
.tc-v2-region-hero-3 .section-we-left-title .builder-v2-widget p span .builder-v2-widget-absolute img {
  width: 100%;
}
.tc-v2-region-hero-3 .section-we-left-description .builder-v2-widget {
  font-size: 0.875em;
  line-height: 1.5em;
  margin-bottom: 3em;
}
.tc-v2-region-hero-3 .section-we-left-description .builder-v2-widget p {
  color: #121212;
  opacity: 0.7;
  margin: 0;
}
.tc-v2-region-hero-3 .section-we-left-button .builder-v2-widget > button {
  display: inline-block;
  padding: 0.75em 4.5em;
  border: none;
  background: #5243AA;
  border-radius: 2em;
  color: #fff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.tc-v2-region-hero-3 .section-we-right {
  width: 40.1em;
}
.tc-v2-region-hero-3 .section-we-right .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-3 .section-we-right .builder-v2-widget img {
  width: 100%;
}

@media (max-width: 576px) {
  .tc-v2-region-hero-3 .section-we-grid {
    flex-direction: column;
  }
  .tc-v2-region-hero-3 .section-we-left {
    width: 100%;
  }
  .tc-v2-region-hero-3 .section-we-right {
    width: 100%;
  }
}
.tc-v2-region-hero-4 .section-direct-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.tc-v2-region-hero-4 .section-direct-right {
  width: 31.25em;
}
.tc-v2-region-hero-4 .section-direct-right-title .builder-v2-widget {
  font-size: 3.125em;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
.tc-v2-region-hero-4 .section-direct-right-title .builder-v2-widget p {
  font-weight: bold;
  margin: 0;
}
.tc-v2-region-hero-4 .section-direct-right-title .builder-v2-widget p span {
  color: #43AA66;
  position: relative;
}
.tc-v2-region-hero-4 .section-direct-right-title .builder-v2-widget p span .builder-v2-widget-absolute {
  line-height: 0em;
  position: absolute;
  bottom: -0.04em;
  left: 0;
  width: 100%;
  margin: 0;
}
.tc-v2-region-hero-4 .section-direct-right-title .builder-v2-widget p span .builder-v2-widget-absolute img {
  width: 100%;
}
.tc-v2-region-hero-4 .section-direct-right-description .builder-v2-widget {
  font-size: 0.875em;
  line-height: 1.5em;
  margin-bottom: 3em;
}
.tc-v2-region-hero-4 .section-direct-right-description .builder-v2-widget p {
  color: #121212;
  opacity: 0.7;
  margin: 0;
}
.tc-v2-region-hero-4 .section-direct-right-button .builder-v2-widget > button {
  display: inline-block;
  padding: 0.75em 4.5em;
  border: none;
  background: #5243AA;
  border-radius: 2em;
  color: #fff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.tc-v2-region-hero-4 .section-direct-left {
  width: 40.1em;
}
.tc-v2-region-hero-4 .section-direct-left .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-4 .section-direct-left .builder-v2-widget img {
  width: 100%;
}

.tc-v2-region-hero-5 .section-learn-title {
  width: 50em;
  margin: 0 auto 8.375em;
}
.tc-v2-region-hero-5 .section-learn-title .builder-v2-widget {
  font-size: 3.125em;
  line-height: 1.3em;
  text-align: center;
  font-weight: 700;
}
.tc-v2-region-hero-5 .section-learn-title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-5 .section-learn-title .builder-v2-widget p span {
  color: #DF3B45;
  position: relative;
}
.tc-v2-region-hero-5 .section-learn-title .builder-v2-widget p span .builder-v2-widget-absolute {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1em;
}
.tc-v2-region-hero-5 .section-learn-title .builder-v2-widget p span .builder-v2-widget-absolute img {
  width: 100%;
}
.tc-v2-region-hero-5 .section-learn-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left {
  max-width: 18.75em;
  margin: 0;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item {
  margin-bottom: 5em;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-image {
  width: 3.75em;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-image .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-image .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-title {
  margin: 1.25em 0 0.875em;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-title .builder-v2-widget {
  font-size: 1.375em;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #121212;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-description {
  margin: 0;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-description .builder-v2-widget {
  font-size: 1em;
  line-height: 1.625em;
  letter-spacing: 0.3px;
  color: #121212;
  opacity: 0.7;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-left-item .grid-item-description .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-middle-image {
  width: 29.125em;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-middle-image .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-5 .section-learn-grid .grid-middle-image .builder-v2-widget img {
  width: 100%;
}

.tc-v2-region-hero-6 .section-about-title {
  width: 44em;
  margin: 0 0 3.75em;
}
.tc-v2-region-hero-6 .section-about-title .builder-v2-widget {
  font-size: 3.125em;
  line-height: 1.3em;
  font-weight: 700;
  color: #191919;
}
.tc-v2-region-hero-6 .section-about-title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-6 .section-about-title .builder-v2-widget p span {
  color: #D97B1E;
  position: relative;
}
.tc-v2-region-hero-6 .section-about-title .builder-v2-widget p span .builder-v2-widget-absolute {
  position: absolute;
  left: 0;
  bottom: -0.5em;
  width: 100%;
}
.tc-v2-region-hero-6 .section-about-title .builder-v2-widget p span .builder-v2-widget-absolute img {
  width: 100%;
}
.tc-v2-region-hero-6 .section-about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.375em;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-background {
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(64, 72, 82, 0.1);
  border-radius: 12px;
  padding: 2em;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-description .builder-v2-widget {
  font-size: 1em;
  line-height: 1.625em;
  letter-spacing: 0.346154px;
  color: #121212;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-description .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile {
  display: flex;
  margin-top: 1.25em;
  align-items: center;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile .profile-image {
  width: 3em;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile .profile-image .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile .profile-image .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile .profile-text {
  margin-left: 1.375em;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile .profile-text-name .builder-v2-widget {
  font-size: 0.812em;
  line-height: 0.812em;
  margin-bottom: 0.5em;
  letter-spacing: 0.3px;
  color: #121212;
  font-weight: 500;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile .profile-text-name .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile .profile-text-title .builder-v2-widget {
  font-size: 0.75em;
  line-height: 0.75em;
  color: #121212;
  opacity: 0.5;
  letter-spacing: 0.3px;
}
.tc-v2-region-hero-6 .section-about-grid .grid-item-profile .profile-text-title .builder-v2-widget p {
  margin: 0;
}

.tc-v2-region-hero-7 {
  background-color: #5243AA;
}
.tc-v2-region-hero-7 .section-lifetime-discount .discount-background {
  display: inline-flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.875em 1.5em;
  border-radius: 12.5em;
  max-width: 29.125em;
}
.tc-v2-region-hero-7 .section-lifetime-discount .discount-image {
  width: 1.5em;
}
.tc-v2-region-hero-7 .section-lifetime-discount .discount-image .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-discount .discount-image .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-discount .discount-text {
  margin-left: 1em;
}
.tc-v2-region-hero-7 .section-lifetime-discount .discount-text .builder-v2-widget {
  font-size: 1em;
  line-height: 1.625em;
  letter-spacing: 0.3px;
  color: #fff;
}
.tc-v2-region-hero-7 .section-lifetime-discount .discount-text .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-grid {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1.875em;
  justify-content: space-between;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-left {
  width: 34.25em;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-left-title .builder-v2-widget {
  font-size: 3.125em;
  line-height: 1.3em;
  font-weight: 700;
  color: #fff;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-left-title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-left-description {
  margin-top: 0.9em;
  padding-right: 5.2em;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-left-description .builder-v2-widget {
  font-size: 1em;
  line-height: 1.5625em;
  color: #fff;
  letter-spacing: 0.3px;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-left-description .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-right-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5em;
  grid-column-gap: 4.37em;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-right-list .list-content {
  display: flex;
  align-items: center;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-right-list .list-content .list-check {
  width: 1em;
  margin-right: 1.25em;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-right-list .list-content .list-check .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-right-list .list-content .list-check .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-right-list .list-content .list-text .builder-v2-widget {
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.tc-v2-region-hero-7 .section-lifetime-grid .section-grid-right-list .list-content .list-text .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information {
  padding-top: 5em;
  position: relative;
}
.tc-v2-region-hero-7 .section-lifetime-information .absolute {
  position: absolute;
  top: 2em;
  right: 0;
  width: 6.5625em;
  right: -2em;
}
.tc-v2-region-hero-7 .section-lifetime-information .absolute .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-information .absolute .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-background {
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(34, 47, 62, 0.1);
  border-radius: 0.5em;
  padding: 1.25em 1.25em 1.25em 0;
  display: flex;
  align-items: center;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left {
  padding: 1.25em 3.125em;
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top {
  display: flex;
  align-items: center;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top-number {
  display: flex;
  align-items: center;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top-number .number {
  border-radius: 50%;
  background-color: #5243AA;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top-number .number .builder-v2-widget {
  font-size: 0.625em;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top-number .number .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top-number .description {
  margin-left: 0.5em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top-number .description .builder-v2-widget {
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #5243A9;
  text-transform: capitalize;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top-number .description .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top .passive {
  margin-left: 2.75em;
  opacity: 0.5;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top .passive .number {
  background-color: transparent;
  border: 1px solid #5243A9;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-top .passive .number .builder-v2-widget {
  color: #5243A9;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form {
  margin-top: 3.125em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form .form-title {
  margin-bottom: 2.6em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form .form-title .builder-v2-widget {
  font-size: 1.5em;
  line-height: 2.125em;
  letter-spacing: 0.3px;
  color: #121212;
  font-weight: 600;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form .form-title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item {
  margin-bottom: 2em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item:last-child {
  margin-bottom: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .label {
  margin-bottom: 0.75em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .label .builder-v2-widget {
  font-size: 0.875em;
  letter-spacing: 0.3px;
  color: #121212;
  font-weight: 500;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .label .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .grid {
  display: flex;
  grid-column-gap: 1.875em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .grid .item {
  width: 100%;
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .grid .zip-code {
  width: 40%;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .box-input {
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .box-input .builder-v2-widget {
  padding: 1.43em 1.06em;
  border-radius: 8px;
  border: 1px solid #DEE5ED;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .box-input .builder-v2-widget input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 0.875em;
  letter-spacing: 0.3px;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .box-input .builder-v2-widget input::placeholder {
  color: #1C2439;
  opacity: 0.7;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-left-form form .item .box-input .builder-v2-widget select {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 0.875em;
  letter-spacing: 0.3px;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right {
  width: 100%;
  background: #F5F6F8;
  border-radius: 0.5em;
  padding: 3.125em 1.875em 1.875em 3.125em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top {
  border-bottom: 1px solid #CDD1DA;
  padding-bottom: 2.8em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid {
  display: flex;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-image {
  width: 6.25em;
  margin-right: 1.875em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-image .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-image .builder-v2-widget img {
  width: 100%;
  border-radius: 0.5em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-text .text-title .builder-v2-widget {
  font-size: 1.2em;
  letter-spacing: 0.3px;
  font-weight: bold;
  color: #E24538;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-text .text-title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-text .text-description {
  margin-bottom: 0.9em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-text .text-description .builder-v2-widget {
  font-size: 1.1em;
  letter-spacing: 0.3px;
  color: #121211;
  opacity: 0.7;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-text .text-description .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-text .text-price .builder-v2-widget {
  font-size: 1.8em;
  letter-spacing: 0.3px;
  font-weight: bold;
  color: #010101;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-top .grid .item-text .text-price .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total {
  margin-top: 2.5em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total .total-title .builder-v2-widget {
  font-size: 1.5em;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total .total-title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total .total-coupon {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
  padding-bottom: 1.25em;
  border-bottom: 1px solid #CDD1DA;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total .total-coupon .checkbox .builder-v2-widget {
  width: 1.5em;
  height: 1.5em;
  background: rgba(8, 160, 247, 0.06);
  border: 1px solid #08A0F7;
  border-radius: 5px;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total .total-coupon .checkbox .builder-v2-widget input {
  display: none;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total .total-coupon .text {
  margin-left: 1em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total .total-coupon .text .builder-v2-widget {
  font-size: 1em;
  letter-spacing: 0.3px;
  color: #08A0F7;
  font-weight: 500;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total .total-coupon .text .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-price {
  margin-top: 1.25em;
  border-bottom: 2px solid #29335A;
  padding-bottom: 0.875em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-price .text .builder-v2-widget {
  font-size: 0.875em;
  letter-spacing: 0.5px;
  color: #121212;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-price .text .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-price .text-price .builder-v2-widget {
  font-size: 0.875em;
  letter-spacing: 0.5px;
  color: #121212;
  text-align: right;
  font-weight: 500;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-price .text-price .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total-bottom {
  margin-top: 0.875em;
  display: flex;
  justify-content: space-between;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total-bottom .text .builder-v2-widget {
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #121212;
  font-weight: 600;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total-bottom .text .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total-bottom .text-price .builder-v2-widget {
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #121212;
  text-align: right;
  font-weight: 500;
  font-weight: 600;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-total-bottom .text-price .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-button {
  text-align: center;
  margin-top: 5em;
}
.tc-v2-region-hero-7 .section-lifetime-information .information-right-button .builder-v2-widget > button {
  width: 100%;
  display: inline-block;
  padding: 1.375em;
  border: none;
  background: #43AAA4;
  border-radius: 0.5em;
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.tc-v2-region-hero-8 {
  background-color: #000;
  padding: 6.25em 0;
}
.tc-v2-region-hero-8 .section-questions {
  display: flex;
  justify-content: space-between;
}
.tc-v2-region-hero-8 .section-questions-left {
  width: 26.25em;
}
.tc-v2-region-hero-8 .section-questions-left-title .builder-v2-widget {
  font-size: 3.125em;
  line-height: 1.3em;
  font-weight: 700;
  color: #fff;
}
.tc-v2-region-hero-8 .section-questions-left-title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-8 .section-questions-left-title .builder-v2-widget p span {
  color: #51B3FA;
  position: relative;
}
.tc-v2-region-hero-8 .section-questions-left-title .builder-v2-widget p span .builder-v2-widget-absolute {
  position: absolute;
  bottom: -0.4em;
  left: 0;
  width: calc(100% + 1em);
}
.tc-v2-region-hero-8 .section-questions-left-title .builder-v2-widget p span .builder-v2-widget-absolute img {
  width: 100%;
}
.tc-v2-region-hero-8 .section-questions-left-description {
  margin-top: 1.5em;
}
.tc-v2-region-hero-8 .section-questions-left-description .builder-v2-widget {
  font-size: 0.875em;
  line-height: 1.5em;
  color: #fff;
  opacity: 0.7;
}
.tc-v2-region-hero-8 .section-questions-left-description .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-8 .section-questions-left-email {
  display: flex;
  align-items: center;
  margin-top: 2.875em;
  margin-bottom: 1.75em;
  padding-bottom: 1.75em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.tc-v2-region-hero-8 .section-questions-left-email .image {
  margin-right: 1.25em;
}
.tc-v2-region-hero-8 .section-questions-left-email .image .builder-v2-widget {
  width: 3.75em;
}
.tc-v2-region-hero-8 .section-questions-left-email .image .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-8 .section-questions-left-email .text .title .builder-v2-widget {
  font-size: 1.25em;
  color: #fff;
  font-weight: 500;
}
.tc-v2-region-hero-8 .section-questions-left-email .text .title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-8 .section-questions-left-email .description .title .builder-v2-widget {
  font-size: 1em;
  color: #fff;
  opacity: 0.5;
}
.tc-v2-region-hero-8 .section-questions-left-email .description .title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-8 .section-questions-left-phone {
  display: flex;
  align-items: center;
}
.tc-v2-region-hero-8 .section-questions-left-phone .image {
  margin-right: 1.25em;
}
.tc-v2-region-hero-8 .section-questions-left-phone .image .builder-v2-widget {
  width: 3.75em;
}
.tc-v2-region-hero-8 .section-questions-left-phone .image .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-8 .section-questions-left-phone .text .title .builder-v2-widget {
  font-size: 1.25em;
  color: #fff;
  font-weight: 500;
}
.tc-v2-region-hero-8 .section-questions-left-phone .text .title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-8 .section-questions-left-phone .description .title .builder-v2-widget {
  font-size: 1em;
  color: #fff;
  opacity: 0.5;
}
.tc-v2-region-hero-8 .section-questions-left-phone .description .title .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-8 .section-questions-right {
  width: 41.5em;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item {
  position: relative;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 0.625em;
  padding: 2.5em;
  display: flex;
  margin-bottom: 0.625em;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item .absolute {
  position: absolute;
  right: 2.5em;
  top: 2.5em;
  width: 1.5em;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item .absolute .builder-v2-widget {
  width: 100%;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item .absolute .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item .number .builder-v2-widget {
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  opacity: 0.2;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item .number .builder-v2-widget p {
  margin: 0;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item .title {
  margin-left: 2em;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item .title .builder-v2-widget {
  color: #fff;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.tc-v2-region-hero-8 .section-questions-right .section-right-item .title .builder-v2-widget p {
  margin: 0;
}

.tc-v2-region-hero-9 {
  background-color: #000;
  padding: 0 6.25em;
}
.tc-v2-region-hero-9 .section-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tc-v2-region-hero-9 .section-footer-item {
  display: flex;
  align-items: center;
  grid-gap: 3.125em;
}
.tc-v2-region-hero-9 .section-footer-item .logo .builder-v2-widget {
  width: 9.625em;
}
.tc-v2-region-hero-9 .section-footer-item .logo .builder-v2-widget img {
  width: 100%;
}
.tc-v2-region-hero-9 .section-footer-item .copyright .builder-v2-widget {
  color: #B1B1B1;
  font-size: 0.75em;
  letter-spacing: 0.3px;
}
.tc-v2-region-hero-9 .section-footer-item .copyright .builder-v2-widget p {
  margin: 0;
}

/*# sourceMappingURL=regions.css.map */
