.tc-v2-region-pageNine-5{
    background-color: #F7F5ED;
    overflow: hidden;
    position: relative;
    padding: 5em 0;
    .background{
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        padding: 5em 0;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            left: 36.25em;
            top: 1em;
            background-color: #E5E3DB;
            height: 26em;
            width: 500em;
            z-index: -1;
        }
    }
    p{
        margin: 0;
    }
    img{
        width: 100%;
    }

    .section-grid{
        display: flex;
        justify-content: space-between;
    }
    .section-left{
        max-width: 22.1875em;
        .title{
            .builder-v2-widget{
                font-size: 3.125em;
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: -2px;
                color: #121212;
                text-align: left;
                p{
                    span{
                        color: #FF9832;
                        position: relative;
                    }
                }
            }
        }

        .description{
            .builder-v2-widget{
                margin-top: 1.875em;
                font-size: 1em;
                color: #121212;
                letter-spacing: .3px;
                opacity: .7;
            }
        }
    }
    .section-right{
        display: grid;
        grid-gap: 2.5em;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        max-width: 47.875em;
        .absolute{
            position: absolute;
            right: 0;
            top: 26.25em;
            .builder-v2-widget{
                width: 19.75em;
            }
        }
        .absolute-2{
            position: absolute;
            left: -1em;
            top: 0;
            .builder-v2-widget{
                width: 2.125em;
            }
        }
        
        .item{
            .title{
                margin-top: 2.5em;
                .builder-v2-widget{
                    color: #121212;
                    font-size: 1.5em;
                    font-weight: 500;
                    letter-spacing: -2px;
                }
            }
            .position{
                margin-top: .625em;
                .builder-v2-widget{
                    color: #121212;
                    font-size: 1.125em;
                    text-transform: capitalize;
                }
            }
            .description{
                margin-top: 1.5625em;
                .builder-v2-widget{
                    color: #121212;
                    font-size: .875em;
                    opacity: .7;
                }
            }
        }
    }
}

@media (max-width:576px){

    .tc-v2-region-pageNine-1{
        .background{
            &::before{
                left: 0;
                bottom: 0;
                height: 8.125em;
                width: 100%;
            }
        }
        .section-logo{
            width: calc(100% + 11%);
            margin-left: -5.5%;
            border-bottom: 1px solid rgba(222, 222, 222, 0.3);
            padding-bottom: 2em;
            .builder-v2-widget{
                width: 11.8125em;
                margin: 0 auto;
            }
        }
        .section-grid{
            margin-top: 2.5em;
            flex-direction: column;
            .left{
                .title{
                    width: 100%;
                    max-width: 16em;
                    .builder-v2-widget{
                        font-size: 2.1875em;
                        line-height: 1.3em;
                        letter-spacing: unset;
                    }
                }
                .description{
                    width: 100%;
                    margin-top: 2em;
                    .builder-v2-widget{
                        font-size: 1em;
                    }
                }
                .button{
                    margin-top: 2em;
                    position: relative;
                    .builder-v2-widget{
                        button{
                            padding: .8125em 0;
                            font-size: 1em;
                            letter-spacing: 1.14px;
                            width: 100%;
                        }
                    }
                }
            }
            .right{
                width: 100%;
                margin-top: 2.5em;
                .builder-v2-widget{
                    position: relative;
                    width: 100%;
                    right: 0;
                }
            }
        }
    }

}