.tc-v2-region-pageFour-4{
    p{
        margin: 0;
    }

    .section-top{
        width: 33.75em;
        margin: 0 auto;
    }
    .section-attention{
        width: 29.0625em;
        margin-left: auto;
        .builder-v2-widget{
            font-size: 1.125em;
            font-weight: 500;
            letter-spacing: .3px;
            text-align: center;
            color: #C6710D;
        }
    }
    .section-star{
        .builder-v2-widget{
            width: 100%;
            margin: .25em auto;
            img{
                width: 100%;
            }
            .mobile{
                display: none;
            }
        }
    }
    .section-title{
        width: 45.625em;
        margin: 0 auto;
        .builder-v2-widget{
            font-size: 2.5em;
            text-align: center;
            font-weight: 700;
            p{
                span{
                    color: #B71515;
                    white-space: pre;
                    &:last-child{
                        color: #121212;
                    }
                }
            }
        }
    }
    .section-description{
        margin: 1.5em auto 0;
        width: 45.625em;
        .builder-v2-widget{
            font-size: 1.5em;
            text-align: center;
        }
    }

    .section-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.375em;
        .left{
            width: 26.9375em;
            .builder-v2-widget{
                font-size: 1em;
            }
        }
        .right{
            .builder-v2-widget{
                width: 36.3125em;
                img{
                    width: 100%;
                }
            }
        }
    }

}

@media (max-width: 576px){
    .tc-v2-region-pageFour-4{
        
        .section-top{
            width: 100%;
            margin: 0 auto;
        }
        .section-attention{
            width: 100%;
            margin-left: auto;
            .builder-v2-widget{
                font-size: 1em;
            }
        }
        .section-star{
            .builder-v2-widget{
                width: 100%;
                margin: 1em auto 1.25em;
                img{
                    display: none;
                }
                .mobile{
                    display: block;
                }
            }
        }
        .section-title{
            width: 100%;
            .builder-v2-widget{
                font-size: 1.875em;
                p{
                    span{
                        white-space: unset;
                    }
                }
            }
        }
        .section-description{
            margin: 1.25em auto 0;
            width: 100%;
            .builder-v2-widget{
                font-size: 1em;
                text-align: center;
            }
        }
    
        .section-grid{
            flex-direction: column-reverse;
            margin-top: 3.75em;
            .left{
                width: 100%;
                margin-top: 1.25em;
                .builder-v2-widget{
                    font-size: .875em;
                    opacity: .7;
                }
            }
            .right{
                .builder-v2-widget{
                    width: 100%;
                }
            }
        }
    
    }
}