.tc-v2-region-pageSixteen-5{
    padding: 5em 0;
    p{
        margin: 0;
    }
    img{
        width: 100%;
    }
    .region-wrap{
        max-width: 63.75em;
        margin: 0 auto;
    }
    .section-title{
        max-width: 62.1875em;
        margin: 0 auto;
        .builder-v2-widget{
            font-weight: 700;
            font-size: 3.125em;
            text-align: center;
            color: #0F1724;
            span{
                color: #47B2C2;
            }
        }
    }

    .section-description{
        margin-top: 1.5em;
        .builder-v2-widget{
            font-size: 1em;
            letter-spacing: .3px;
            color: #757D95;
            text-align: center;
        }
    }

    .section-grid{
        margin-top: 3.75em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.625em;
        position: relative;
        z-index: 1;
        .absolute-1{
            position: absolute;
            top: -4em;
            left: -4em;
            z-index: -1;
            .builder-v2-widget{
                width: 9.6875em;
            }
        }
        .absolute-2{
            position: absolute;
            bottom: -4em;
            right: -4em;
            z-index: -1;
            .builder-v2-widget{
                width: 9.6875em;
            }
        }
        .item{
            background-color: #FFFFFF;
            box-shadow: 0px 20px 80px rgba(143, 153, 173, 0.1);
            border-radius: .625em;
            padding: 1.75em 1.3125em;
            .icon{
                .builder-v2-widget{
                    width: 4.375em;
                    margin: 0 auto;
                }
            }
            .description{
                margin-top: 1em;
                .builder-v2-widget{
                    font-size: 1em;
                    letter-spacing: .3px;
                    text-align: center;
                    color: #121212;
                }
            }
        }
    }
}