.tc-v2-region-hero-3{
    .section-we{
        &-grid{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        &-left{
            width: 31.25em;
            &-title{
                .builder-v2-widget{
                    font-size: 3.125em;
                    line-height: 1.3em;
                    margin-bottom: 0.4em;
                    p{
                        font-weight: bold;
                        margin: 0;
                        span{
                            color: #3DA0E8;
                            position: relative;
                            .builder-v2-widget{
                                line-height: 0em;
                                position: absolute;
                                bottom: -0.04em;
                                left: 0;
                                width: 1.7em;
                                margin: 0;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &-description{
                .builder-v2-widget{
                    font-size: 0.875em;
                    line-height: 1.5em;
                    margin-bottom: 3em;
                    p{
                        color: #121212;
                        opacity: .7;
                        margin: 0;
                    }
                }
            }
            &-button{
                .builder-v2-widget > button {
                    display: inline-block;
                    padding: 0.75em 4.5em;
                    border: none;
                    background: #5243AA;
                    border-radius: 2em;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
        &-right{
            width: 40.1em;
            .builder-v2-widget{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}